<div class="headerWrapper">
<header class="header">
    <div class="header__logo">
        <a href="/">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Blogger_logo.svg/1200px-Blogger_logo.svg.png" alt="logo" class="headerLogo">
        </a>
    </div>
    <div class="headerNav">
        <ul class="headerNavList">
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
        </ul>
    </div>
</header>
</div>